# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore virtual environment directories
.venv/



local/*
!local/
!local/deleteme.txt

data/processed/*
!data/processed/
!data/processed/deleteme.txt

data/raw/*
!data/raw/
!data/raw/deleteme.txt

data/staging/*
!data/staging/
!data/staging/deleteme.txt